{% extends "base.html" %}
{% load static %}

{% block title %}
    Weather Lookup
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="form-row align-items-center mb-4">
        <div class="col-auto">
            {{ form }}
            
            <input type="submit" class="btn btn-primary mb-3"value="Submit" />
        </div>
    </div>
</form>
{% endblock %}
